.header h1{
     text-align: center; 
    color: #492839a1;
}

/*------------------------------------------------------------------------------------------------------------------------*/

main{
    margin-left: 2%;
    margin-right: 2% ;
    
}

.buttones {
      background-color: #2e7d32;
      padding: 12px 25px;
      border-radius: 5px;
      position: fixed; 
      top: 3px; 
      left: 3px
    }

    .buttones a {
      color: #fff;
      text-decoration: none;
    }

    .buttones:hover {
      background-color: #1b5e20;
    }

/*------------------------------------------------------------------------------------------------------------------------*/

h2{
    text-align: center; 
    color: #272525;
}

.flex-container {
  display: flex;        
  flex-wrap: wrap;     
  gap: 20px;            
  justify-content: center; 
  padding: 20px;        
}

.flex {
  flex: 1 1 200px;   
  padding: 25px;     
  color: white;      
  text-align: center; 
  box-sizing: border-box;
  transition: transform 0.3s;
}

.flex:hover {
  transform: scale(1.05);  
  transition: transform 0.3s; 
}

#color1 {
  background-color: #dbbc34;
  text-align: left;
}
#color1:hover {
  transform: rotate(3deg);
  transition: 0.3s;
}

#color2 {
  background-color: #db8d34;
  text-align: right;
}
#color2:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}

#color3 {
  background-color: #db6334;
  text-align: justify;
}
#color3:hover {
  transform: scale(1.07);
  transition: 0.3s;
}

#color4 {
  background-color: #db3434;
  text-align: center;
}
#color4:hover {
  transform: skewX(4deg);
  transition: 0.3s;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.responsive-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.responsive-container .box {
  flex: 1 1 90%;
  padding: 30px;
  box-sizing: border-box;
}

@media (min-width: 1025px) {
  .box { flex: 1 1 22%; } 
}

@media (min-width: 601px) and (max-width: 1024px) {
  .box { flex: 1 1 45%; } 
}

@media (max-width: 600px) {
  .box { flex: 1 1 100%; } 
}


/*------------------------------------------------------------------------------------------------------------------------*/

.grid-container {
  display: grid;                
  grid-template-columns: repeat(4, 400px); 
  gap: 10px;                      
}

.grid-item {
  background: #b7db34;
  color: white;
  padding: 20px;
  text-align: center;            
}

.grid-item.full {
  grid-column: 1 / -1;          
}

/*------------------------------------------------------------------------------------------------------------------------*/

footer {
 text-align: center; 
    color: #492839a1;
}
